[submodule "arcadegames/miniwalls"]
	path = arcadegames/miniwalls
	url = https://github.com/ArchMC-Development/minigames-miniwalls.git
[submodule "minigames/miniwalls-lobby"]
	path = minigames/miniwalls-lobby
	url = https://github.com/ArchMC-Development/minigames-miniwalls-lobby.git
[submodule "arcadegames/miniwalls-shared"]
	path = arcadegames/miniwalls-shared
	url = https://github.com/ArchMC-Development/minigames-miniwalls-shared.git
[submodule "microgames/bridging-api"]
	path = microgames/bridging-api
	url = https://github.com/ArchMC-Development/microgames-bridging-api.git
[submodule "microgames/bridging"]
	path = microgames/bridging
	url = https://github.com/ArchMC-Development/microgames-bridging.git
[submodule "minigames/bedwars"]
	path = minigames/bedwars
	url = https://github.com/ArchMC-Development/minigames-bedwars.git
[submodule "minigames/bedwars-shared"]
	path = minigames/bedwars-shared
	url = https://github.com/ArchMC-Development/minigames-bedwars-shared.git
[submodule "minigames/bedwars-lobby"]
	path = minigames/bedwars-lobby
	url = https://github.com/ArchMC-Development/minigames-bedwars-lobby.git
[submodule "arcadegames/skywars"]
	path = arcadegames/skywars
	url = https://github.com/ArchMC-Development/minigames-skywars.git
[submodule "arcadegames/skywars-shared"]
	path = arcadegames/skywars-shared
	url = https://github.com/ArchMC-Development/minigames-skywars-shared.git
[submodule "minigames/skywars-lobby"]
	path = minigames/skywars-lobby
	url = https://github.com/ArchMC-Development/minigames-skywars-lobby.git
[submodule "sbb"]
	path = sbb
	url = https://github.com/ArchMC-Development/minigames-robots.git
[submodule "persistentgames/housing-lobby"]
	path = persistentgames/housing-lobby
	url = https://github.com/ArchMC-Development/persistentgames-housing-lobby.git
[submodule "persistentgames/prison-lobby"]
	path = persistentgames/prison-lobby
	url = https://github.com/ArchMC-Development/persistentgames-prison-lobby.git
[submodule "persistentgames/prison-shared"]
	path = persistentgames/prison-shared
	url = https://github.com/ArchMC-Development/persistentgames-prison-shared.git
[submodule "persistentgames/prison"]
	path = persistentgames/prison
	url = https://github.com/ArchMC-Development/persistentgames-prison-game.git
